body {
    background-color: #091f44;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: 3px solid white;
    border-radius: 25px;
    padding: 10px;
  }
  
  h1 {
    color: white;
    margin-left: 20px;
    
  }


  src,p{
    margin: 5px;
  }

  div {
    background-color: white;
    width: 20%;
    border-radius: 25px;
    border-bottom: 15px solid #52627c;
    padding: 15px;
    margin: 20px;
  }

  button{
    border-radius: 25px;
    background: red;
    color: white;
    margin: 15px;
    padding: 10px;
    width: 50%;
  }

  input{
    background: #091f44;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    margin: 15px;
    padding: 10px;
    width: 50%;
  }
 #mestoakrajina{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
  }
  #temp{
        font-size: 35px;
        font-weight: bold;
        
  }
  #demo{
      font-style: italic;
      font-size-adjust: 10px;
  }
  #ikonka{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

 